*{
    padding: 0;
    margin: 0;
}
.bar{
    text-align: center;
    font-size: 30px;
    color: red;
    height: 50px;
    background:linear-gradient(-20deg, rgb(233, 222, 250) 0%, rgb(251, 252, 219) 100%);
}
.card{
    background-color: rgba(51, 105, 0, 0.608);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgb(135, 39, 39);
    margin-top: 20px;
}
.contact{
    color: whitesmoke;
    font-weight: 800;
    font-size: 30px;
}
.contact  button{
    border-radius: 20px;
    height: 30px;
    background-color:rgb(0, 127, 212) ;
    color:#b6e7ff;
    cursor: pointer;
}

@media screen and (max-width:412px) {
    .card{
        margin-top: 40px;
    }
}