<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOOD DONATION</title>
    <link rel="stylesheet" href="/css/blood.css">
</head>
<body>
    <div class="box">
        <div class="box-wrapper">
            <div class="wp-holder">
                <div id="bar" class="bn632-hover bn23">
                    <a href="/bloodgrp/o"><h1>BLOOD GROUP: O</h1></a>
                </div>
                <div id="bar" class="bn632-hover bn23">
                    <a href="/bloodgrp/a"><h1>BLOOD GROUP: A</h1></a>
                </div>
                <div id="bar" class="bn632-hover bn23">
                    <a href="/bloodgrp/b"><h1>BLOOD GROUP: B</h1></a>
                </div>
                <div id="bar" class="bn632-hover bn23">
                    <a href="/bloodgrp/ab"><h1>BLOOD GROUP: AB</h1></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>