<%- include("../boilerplate/boilerplate") %>
	<body>
		
		<div id="main">
			<div id="first-page">
				<div class="cover">
					<div class="First-Button">
						<h1>Wellness in your&nbsp;<span class="Typer" typing-speed="70" typing-delay="1000"
								words="Pocket,hand,click"></span> </h1>
						
						<form action="/Hosnear" style="display: flex; flex-direction: column; justify-content: center;">
							<div class="dropdown" style="z-index: 10; display: flex; justify-content: center;">
								<select id="healthProblem" name="prob" class="Problems">
									<option value="GeneralHealthCheckup">General Health Checkup</option>
									<option value="RespiratoryIssues">Respiratory Issues</option>
									<option value="CardiovascularProblems">Cardiovascular Problems</option>
									<option value="GastrointestinalDisorders">Gastrointestinal Disorders</option>
									<option value="MusculoskeletalIssues">Musculoskeletal Issues</option>
									<option value="NeurologicalDisorders">Neurological Disorders</option>
									<option value="DermatologicalConditions">Dermatological Conditions</option>
									<option value="ENTProblems">Ear, Nose, and Throat (ENT) Problems</option>
									<option value="OphthalmologicalIssues">Ophthalmological Issues</option>
									<option value="GynecologicalOrObstetricConcerns">Gynecological or Obstetric Concerns</option>
									<option value="UrologicalDisorders">Urological Disorders</option>
									<option value="DentalOrOralHealthIssues">Dental or Oral Health Issues</option>
									<option value="MentalHealthAndCounseling">Mental Health and Counseling</option>
									<option value="PediatricsAndChildHealth">Pediatrics and Child Health</option>
									<option value="InfectiousDiseases">Infectious Diseases</option>
									<option value="ImmunizationAndVaccination">Immunization and Vaccination</option>
									<option value="ChronicPainManagement">Chronic Pain Management</option>
									<option value="RehabilitationServices">Rehabilitation Services</option>
									<option value="EmergencyOrUrgentCare">Emergency or Urgent Care</option>
								</select>
							</div>
							<button type="submit" class="btn btn-success btn-lg" style="z-index: 12;">Find Nearby Hospital</button>
						</form>
					</div>

					<div class="First-logo">
						<span>R</span>
						<span>U</span>
						<span>-</span>
						<span>M</span>
						<span>E</span>
						<span>D</span>
						<span>I</span>
						<span>C</span>
					</div>
				</div>
				<video class="First-Video" autoplay muted loop src="Mian.mp4"></video>
			</div>
			<div id="Second-Page">
				<div class="second-heading">
					<h1>Our Other Services</h1>
				</div>
				<div class="cards">
					<div class="card" style="width: 18rem;">
						<img src="onlinedoctor1s.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Click here !! to take online consultant of the doctor according to your
								problem</p>
							<a href="#" class="btn btn-success">Go somewhere</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="transport.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Click here !! to take get a transport system for the patient.</p>
							<a href="#" class="btn btn-success">Go somewhere</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="donatebld.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Click here !! to get an oppertunity to donate blood.</p>
							<a href="#" class="btn btn-success">Go somewhere</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="ward.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Click here !! to get info about the availability of wards in hospital.
							</p>
							<a href="#" class="btn btn-success">Go somewhere</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="equipent.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Click here !! to get info about the availability of equipment in other
								hospital.
							</p>
							<a href="#" class="btn btn-success">Go somewhere</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div id="Third-page">
					<div class="Third-head">
						<h1>Our Top Hospitals</h1>
					</div>
					<div class="Third-Hospital">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="Aiims1.jpg" alt=""></div>
								<div class="swiper-slide"><img src="amri1.jpg" alt=""></div>
								<div class="swiper-slide"><img src="klinga.jpg" alt=""></div>
								<div class="swiper-slide"><img src="shyama.jpg" alt=""></div>
								<div class="swiper-slide"><img src="Sum.jpg" alt=""></div>
								<div class="swiper-slide"><img src="hosx.jpg" alt=""></div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<div id="Fifth-Page">
					<H1>Our News</H1>
					<div class="cards cardstwo">
						<div class="card" style="width: 18rem;">
							<img src="ward.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
									inventore veniam dolores quisquam nisi eligendi culpa harum saepe. Ex, at!
								</p>
							</div>
						</div>
						<div class="card" style="width: 18rem;">
							<img src="ward.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
									inventore veniam dolores quisquam nisi eligendi culpa harum saepe. Ex, at!
								</p>
							</div>
						</div>
						<div class="card" style="width: 18rem;">
							<img src="ward.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
									inventore veniam dolores quisquam nisi eligendi culpa harum saepe. Ex, at!
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="Forth-page">
					<h1>Top Reviews</h1>
					<div class="Reviews">
						<div class="Revs">
							<div class="rev-card">
								<div class="rev-card-1">
									<div class="rev-card-prof">
										
									</div>
									<div class="rev-card-name">Username</div>
								</div>
								<div class="rev-card-2">
									  <p class="starability-result" data-rating="3">
										Rated: 3 stars
									  </p>
								</div>
								<div class="rev-card-3">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti consequuntur expedita ex maiores sint iste ad! Perspiciatis voluptas eos commodi.
								</div>
							</div>
							<div class="rev-card"></div>
							<div class="rev-card"></div>
							<div class="rev-card"></div>
						</div>
						<div class="Review-Form">
							<h4>Write a review</h4>
							<form action="/review" method="post" class="rev-frm">
								<fieldset class="starability-heart">
										<input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
										<input type="radio" id="second-rate1" name="rating" value="1" />
										<label for="second-rate1" title="Terrible">1 star</label>
										<input type="radio" id="second-rate2" name="rating" value="2" />
										<label for="second-rate2" title="Not good">2 stars</label>
										<input type="radio" id="second-rate3" name="rating" value="3" />
										<label for="second-rate3" title="Average">3 stars</label>
										<input type="radio" id="second-rate4" name="rating" value="4" />
										<label for="second-rate4" title="Very good">4 stars</label>
										<input type="radio" id="second-rate5" name="rating" value="5" />
										<label for="second-rate5" title="Amazing">5 stars</label>
									</fieldset>
									<div class="input-group">
										<span class="input-group-text">Write something</span>
										<textarea class="form-control" aria-label="With textarea" name="comment"></textarea>
									</div>
									<button type="button submit" class="btn btn-info">Submit</button>
							</form>
						</div>
					</div>
				</div>
				
			</div>
			<script src="/js/app.js"></script>
			<script src="/js/Newapp.js"></script>
	</body>