<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RU-MEDIC</title>
    <link rel="stylesheet" href="/css/o.css">
</head>
<body>
    <div class="main">
        <div class="bar">
            <h3>'O' BLOODGROUP DONOR IN YOUR AREA</h3>
        </div>
        <div class="content">
            <div class="card">
                <div class="contact">
                    <p>NAME:SAHIL YADAV</p>
                    <p>BLOOD TYPE:O+</p>
                    <p>CONTACT:9378215678</p>
                    <p>ADDRESS:</p>
                    <a href=""><button>ASK FOR AVAILIBILITY</button></a>
                </div>
            </div>
            <div class="card">
                <div class="contact">
                    <p>NAME:AMRIT KUMAR</p>
                    <p>BLOOD TYPE:O-</p>
                    <p>CONTACT:9378515678</p>
                    <p>ADDRESS:</p>
                    <a href=""><button>ASK FOR AVAILIBILITY</button></a>
                </div>
            </div>
            <div class="card">
                <div class="contact">
                    <p>NAME:PRATIK KUMAR</p>
                    <p>BLOOD TYPE:O+</p>
                    <p>CONTACT:9378215878</p>
                    <p>ADDRESS:</p>
                    <a href=""><button>ASK FOR AVAILIBILITY</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>